
<f:layout name="Default" />

<f:section name="main">

    <section class="regularContentArea productEmailReqestForm">
        <div class="regularContentAreaInnerWrapper">
            <div class="csc-default">
                <div class="row">

                    <h2>Vielen Dank!</h2>
                    <h3>Wir werden uns in Kürze bei Ihnen melden!</h3>
                </div>
            </div>
        </div>
    </section>
	
	<f:if condition="{sysLanguageUid} == 0">
		<f:then>
			<!-- Google Code for Maschinenberater Formular DE Conversion Page -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 886385591;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "CiGTCNyB2GQQt9fUpgM";
			var google_remarketing_only = false;
			/* ]]> */
			</script>
			<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
			</script>
			<noscript>
			<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/886385591/?label=CiGTCNyB2GQQt9fUpgM&amp;guid=ON&amp;script=0"/>
			</div>
			</noscript>
		</f:then>
		<f:else>
			<!-- Google Code for Maschinenberater Formular EN Conversion Page -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 886385591;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "ZtwlCOn06WQQt9fUpgM";
			var google_remarketing_only = false;
			/* ]]> */
			</script>
			<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
			</script>
			<noscript>
			<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/886385591/?label=ZtwlCOn06WQQt9fUpgM&amp;guid=ON&amp;script=0"/>
			</div>
			</noscript>
		</f:else>
	</f:if>

</f:section>