
<table class="tx-ws-products" >
	<tr>
		<td>
			<f:translate key="tx_wsproducts_domain_model_product.product_name" />
		</td>
		<td>
			<f:format.stripTags value="{product.productName}" />
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wsproducts_domain_model_product.product_short_name" />
		</td>
		<td>
			{product.productShortName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wsproducts_domain_model_product.product_image" />
		</td>
		<td>
			{product.productImage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wsproducts_domain_model_product.product_description" />
		</td>
		<td>
			{product.productDescription}
		</td>
	</tr>
</table>