
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Product</h1>

<f:flashMessages />

<table  class="tx_wsproducts" >
	<tr>
		<th><f:translate key="tx_wsproducts_domain_model_product.product_name" /></th>
		<th><f:translate key="tx_wsproducts_domain_model_product.product_short_name" /></th>
		<th><f:translate key="tx_wsproducts_domain_model_product.product_image" /></th>
		<th><f:translate key="tx_wsproducts_domain_model_product.product_description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{products}" as="product">
		<tr>
			<td><f:link.action action="show" arguments="{product : product}"> <f:format.stripTags value="{product.productName}" /></f:link.action></td>
			<td><f:link.action action="show" arguments="{product : product}"> {product.productShortName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{product : product}"> {product.productImage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{product : product}"> {product.productDescription}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{product : product}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{product : product}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Product</f:link.action>
</f:section>