
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Attribute</h1>

<f:flashMessages />

<table  class="tx_wsproducts" >
	<tr>
		<th><f:translate key="tx_wsproducts_domain_model_attribute.attribute_name" /></th>
		<th><f:translate key="tx_wsproducts_domain_model_attribute.attribute_description" /></th>
		<th><f:translate key="tx_wsproducts_domain_model_attribute.attribute_image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{attributes}" as="attribute">
		<tr>
			<td><f:link.action action="show" arguments="{attribute : attribute}"> {attribute.attributeName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{attribute : attribute}"> {attribute.attributeDescription}</f:link.action></td>
			<td><f:link.action action="show" arguments="{attribute : attribute}"> {attribute.attributeImage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{attribute : attribute}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{attribute : attribute}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Attribute</f:link.action>
</f:section>